@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

@import 'card';

$blue: #00AEEF;
$aleo: 'Aleo', serif;

* {
    font-family: $aleo;
}

.formsBox{
    display: flex;  
    flex-direction: column;
    background-color: white;
    margin-top: 15vh;
    border-radius: 5px;
    padding: 1.5rem;
    gap: 2rem;

    @media screen and (max-width: 768px){
        flex-direction: column;
        width: 30vw;
    }
}

.formsBox form textarea{
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.formsBox h2,
.formsBox p{
    text-align: center;
}

.formsBox img{
    align-self: center;
    @media screen and (max-width: 768px){
        height: 10vh;
        width: 20vw;
    }
}

.cardsBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
}

.feedbackCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px; 
    gap: 10px;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.feedbackCard img{
    @media screen and (max-width: 768px){
        height: 2vh;
        width: 2vw;
    }
}

.selected {
    border: 2px solid $blue;
}

.feedbackCard:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 20px black;
}

#buttonSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px; 
    justify-content: center;
    background-color: #017CEB;
    color: #ffffff; 
    border: none; 
    border-radius: 4px;  
    transition: background-color 0.3s ease; 
    font-size: 14px; 
}
  
#buttonSubmit:hover {
    background-color: #015EA2; 
}


label{
    display: block;
    margin: 1vh;
}