// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Globals

body {
  background-color: #F1F2F2;
  color: #231F20;
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: "Montserrat", "Verdana";
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


