// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Globals

body {
  background:  linear-gradient(to bottom right, #00AEEF, #017CEB, #204986);
  color: #231F20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body, input, textarea, button {
  font-family: "Montserrat", "Verdana";
  font-weight: 400;
}

