// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Globals

body {
  background:  linear-gradient(to bottom right, #00AEEF, #017CEB, #204986);
  color: #231F20;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;  
  min-height: 100vh;
  align-items: center;
}

body, input, textarea, button {
  font-family: "Montserrat", "Verdana";
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px){
    padding: 1rem;
  }
}


